body {
	background: white;
	color: black;
       }

       div.frame {
	margin-left: 10px;
	position: relative;
	width: 650px;
	height: 550px;
       }

       div.tetris {
	position: absolute;
	width: 650px;
	height: 550px;
	overflow: hidden;
       }

       canvas.tetris {
	background: black;
	position: absolute;
	width: 550px;
	height: 550px;
	top: 0px;
	left: 100px;
       }
